/*login*/

.logincontainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.loginsquare {
  background-color: #F2F2F2;
  width: 600px;
  height: 300px;
  border-radius: 20px;
}


input[type=text], select {
  flex-wrap: wrap;
  display: flex;
  flex: 80%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

input[type=password], select {
  display: flex;
  flex: 80%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.login {
    
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #00519e;
    color: #f1f1f1;
}

.login:hover {
    background-color: #4f99df;
    cursor: pointer;
}


/*login*/

/*Chat*/
.textboxcontainer {
  height: 35%;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow:hidden;
}

.messengercontainer {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow:hidden;
}

.messagecontainer {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow:auto;
  align-self: flex-start;
}

.send {
    padding: 14px;
    margin-top: 14px;
    
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: #00519e;
    color: #f1f1f1;
    flex-wrap: wrap;
}

.send:hover {
    background-color: #4f99df;
    cursor: pointer;
}

.yourmessage {
    flex-wrap: wrap;
    word-wrap: break-word
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #3C7367;
    color: #f1f1f1;
    align-self: flex-end;
}

.othermessage {
    flex-wrap: wrap;
    word-wrap: break-word
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #673C73;
    color: #f1f1f1;
    align-self: flex-start;
}

/*Chat*/




.conti {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow:hidden;
}

.assignmentcontainer {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  align-self: flex-start;
}

.filecontainer {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  align-self: flex-start;
}

.rightcontainer {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  align-self: flex-start;
}



.buttoncontainer {
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  align-content: center;
}



h1 {
  text-align: center;
}


.head {
    padding: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #00519e;
    color: #f1f1f1;
    box-sizing: border-box;
    border-radius: 25px;
}

.headbutton {
    padding: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #00519e;
    color: #f1f1f1;
    box-sizing: border-box;
    border-radius: 25px;
}

.headbutton:hover {
    background-color: #4f99df;
    cursor: pointer;
}


.addfile {
    padding: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #00519e;
    color: #f1f1f1;
    box-sizing: border-box;
    border-radius: 25px;
    align-self: flex-end;
}

.addfile:hover {
    background-color: #4f99df;
    cursor: pointer;
}



/*index obere leiste*/

.headtopone {
    padding: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    width: 60%;
    background-color: #00519e;
    color: #f1f1f1;
    box-sizing: border-box;
}

.headtoptwo {
    padding: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    width: 20%;
    background-color: #00519e;
    color: #f1f1f1;
    box-sizing: border-box;
}

.headtopthree {
    padding: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: #FF0000;
    color: #f1f1f1;
    box-sizing: border-box;
    border-radius: 25px;
}

.headtopthree:hover {
    background-color: #CC0000;
    cursor: pointer;
}

/*index obere leiste*/

label {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  flex: 20%
}